{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add item</h2>
      <form action="{{ url_for('add') }}" method="post" id="add_new_item_form">
        <label for="item_title">Item title:</label>
        <input type="text" id="item_title" name="item_title" size="10" />
        <button type="submit" form="add_new_item_form" value="Submit">Add</button>
      </form>

      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li>{{ item["title"] }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
